html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.75rem;
  line-height: normal;
  text-align: center;
  color: #232323;
  margin: 0;
  background-color: #e0e0e8;
}

h1 {
  margin-bottom: 10px;
}

section {
  background-color: #fafafd;
}

img {
  max-width: 50%;
  display: block;
  height: auto;
  padding-left: 40%;
}

figure {
  display: block;
}

div.container {
  width: 75%;
  height: auto;
}

.tribute-info {
  display: inline-block;
}